body{
  font-family: 'Open Sans', sans-serif;
}

.hero-head {
  opacity: .8;
}

.logo {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.8rem;
}

.burger-gif {
  background-image: url("https://media.giphy.com/media/11ZStfKZSXJN1S/giphy-downsized.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
}

.hero-body {
  background-image: url("https://media.giphy.com/media/O8TeLhAK7cVq0/giphy-downsized.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
}

#info-cards {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.title > img {
  height: 75px;
}

.hero.is-primary .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.footer {
  background-color: #00d1b2;
}

.hero-body > div > h1 > a {
  width: 350px;
  height: 50px;
  font-size: 20px;
  background-color: #00d1b2;
  opacity: .6;
}

.toothpick {
  height: 30px;
  width: auto
}
