html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2.8rem;
}

.ordering-section {
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
}

.menu {
  display: flex;
  align-items: center;
}

.menu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  box-shadow: 5px 3px 4px 4px #d4d4d4;
}

.menu > div > h1 {
  font-size: 2rem
}

.order-section {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.ordered-items {
  display: inline-flex;
  flex-direction: column;
}

#poop {
  border-bottom: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  box-shadow: 5px 3px 4px 4px #d4d4d4;
  flex-grow: 1;
  margin-left: 30px;
  display: flex;
    flex-flow: column;
}

.burger-quantity, .pizza-quantity {
  height: 40px;
  width: 80px;
}

.add-pizza-to-order, .add-burger-to-order {
  height: 40px;
}

.food-list {
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  order: 1;
  padding: 4px;
}

.total {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-top: 50px;
  order: 2;
  width: 100%;
  border-top: 1px solid #d4d4d4;
}

.cust-input {
  display: flex;
  flex-direction: column;
  width: 82%;
  padding-left: 12%;
  padding-right: 11%;
  margin-bottom: 10%;
  border-bottom: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  box-shadow: 5px 3px 4px 4px #d4d4d4;
}

.deliver-button {
  margin-top: 40px;
}

.cust-input > div {
  padding-bottom: 4%;
  display: inline-flex;
}

.pizza-svg {
  display: flex;
  justify-content: center;
}
